body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  color: blue;
  font-size: 20px;
  font-weight: 800;
}
.dancer{
  background: url('https://turntable.fm/roommanager_assets/avatars/23/fullfront.png') no-repeat;
  height: 246px; 
  width: 175px;
  background-size: 100%;
  position:absolute;
}

.djBooth{
  height: 15%;
  width: 100%;
  background-color: rgb(46, 51, 46);
  text-align: center;
}

.djBooth.on {
  background-image: url('./assets/speakers.gif');
}

.deadMaus{
    height: 100%;
    width: 750px;
    background-position: 75%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
  }

.partyRoom{
  height: 85%;
  background-color: black;
  border: 4px solid black;
  position: relative;
}

.deadMausOn{
  background-image: url('./assets/tumblr_m257rmP7jr1r6b9rbo1_500.gif');
}
